html {
	height: 100%;
}
body {
	position: relative;
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	margin: 0;
	min-height: 42px;
	padding: 8px 12px 2px;
    text-shadow: #000 1px 1px 3px;
	width: 720px;
}
#title
{
	font-size: 20px;
	margin-bottom: 4px;
	margin-right: 42px;
}
#text
{
	font-size: 18px;
	margin-right: 42px;
}
#emergency #text
{
	color: red;
}
/*#icon img
{
	height: 32px;
	width: 32px;
}*/

